<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
#customers tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:hover {background-color: #ddd;}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
<table id="customers" align="center" style="width:70%; font-size: 13px;" border="1" cellspacing="0" cellpadding="2" bordercolor="666633">
	<tr>
       <td width="15%" height="50"><img align="center" src="https://fronteras.energiaitalener.com/controladores/template/images/logo-blanco-bloque.png"  ></td>
	   <td width="33%" height="50" colspan="4" style="text-align: center;"><strong>REPORTE DIARIO RELACIONADO CON LA FRONTERA - $valor["fronteraCliente"]</strong></td>
    </tr>
    <tr>
      <td>ORDEN #</td>
      <td></td>
      <td>FECHA ORDEN</td>
      <td colspan="2">asd</td>
    </tr>
    <tr>
      <td>CONSULTOR:</td>
      <td colspan="4">asd</td>
    </tr>
    <tr><td colspan="5">
     De acuerdo a las condiciones pactadas previamente con el Cliente y con el consultor asignado se relaciona la informaci&oacute;n requerida para la prestaci&oacute;n del servicio
    </td>
    </tr>
    <tr><td colspan="5" align="center" bgcolor="#bcc1d1"><strong>DETALLE DE LA EMPRESA A ATENDER</strong></td>							
    </tr>
    <tr>
      <td colspan="2">NOMBRE DE LA EMPRESA:</td>
      <td colspan="3">ad</td>
    </tr>
    <tr>		
      <td colspan="2">ACTIVIDAD DE LA EMPRESA:</td>
      <td colspan="3">asd</td>
    </tr>
    <tr>		
      <td colspan="2">NIT:</td>
      <td colspan="3">asd</td>
    </tr>
    <tr>		
      <td colspan="2">CIUDAD:</td>
      <td colspan="3">asd</td>
    </tr>
    <tr>
      <td colspan="2">DIRECCION:</td>
      <td colspan="3">sad</td>
    </tr>
    <tr>	
      <td colspan="2">CONTACTO:</td>
      <td colspan="3">ads</td>
    </tr>
    <tr>	
      <td colspan="2">TELEFONOS:</td>
      <td colspan="3">asd</td>
    </tr>
    <tr><td colspan="5" align="center" bgcolor="#bcc1d1"><strong>DETALLE DEL SERVICIO A PRESTAR</strong></td>							
    </tr>
    <tr>
      <td colspan="2">EMPRESA AFILIADA A:</td>
      <td colspan="3">asd</td>
    </tr>  
    <tr>		
    <td>POLIZA:</td>
    <td>ads</td>
    <td>ACT PROGRAMA</td>
    <td colspan="2">asd</td>
    </tr>
    <tr>	
      <td>CRONOGRAMA</td>
      <td>asd</td>
     <td>SECUENCIA</td>
      <td colspan="2">asd</td>
    </tr>
    <tr>	
     <td colspan="2">ASESOR DNPR:</td>
     <td colspan="3">as</td>
     </tr>
     <tr>
      <td>OBSERVACIONES:</td>
      <td colspan="4" bgcolor="#00FF00">as</td>
     </tr>
     <tr>
       <td colspan="5" align="center" bgcolor="#bcc1d1"><strong>RELACION DE HORAS Y FECHAS</strong>as</td>							
    </tr>
    <tr>
    <td align="center">NRO. HORAS</td><td align="center">TIPO DE ACTIVIDAD</td><td align="center">ACTIVIDAD A REALIZAR</td><td align="center">FECHA EJECUCION PROGRAMADA EN SIPAB</td><td align="center">VLR UNITARIO</td>
    </tr>
    <tr>
    <td>as</td>
    <td>as</td>
    <td>sa</td>
    <td>as</td>
    <td>as</td>
    </tr>
    <tr>
    <td colspan="4"><label style="margin-left:430;">TOTAL</label></td>
    <td>as</td>
    </tr>
    </table>