<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
#customers tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:hover {background-color: #ddd;}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
.u-repeater {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
.u-repeater {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
.u-align-center {
  text-align: center;
}
.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 0 0;
}
.u-text-palette-2-base, li.active > a.u-button-style.u-text-palette-2-base, li.active > a.u-button-style.u-text-palette-2-base[class*="u-border-"], a.u-button-style.u-text-palette-2-base, a.u-button-style.u-text-palette-2-base[class*="u-border-"] {
  color: #db545a !important;
}
.u-section-5 .u-icon-1 {
  width: 64px;
  background-image: none;
  margin: 0 auto;
}
.u-icon {
  display: block;
  line-height: 0;
  border-width: 0px;
}
#block_container
{
    text-align:center;
}
#bloc1, #bloc2
{
    display:inline;
}
</style>
<table id="customers" align="center" style="width:100%; font-size: 13px;" border="1" cellspacing="0" cellpadding="2" bordercolor="666633">
	<tr>
       <td width="15%" height="50"><img align="center" src="https://fronteras.energiaitalener.com/controladores/template/images/logo-blanco-bloque.png"  ></td>
	   <td width="33%" height="50" colspan="4" style="text-align: center;"><strong>REPORTE DIARIO RELACIONADO CON LA FRONTERA - '.$valor["fronteraCliente"].'</strong></td>
    </tr>
    <tr>
      <td>FECHA REPORTE</td>
      <td colspan="4">'.ControladorUtilidades::anyoMesDia(0).'</td>
    </tr>
    <tr>
		<td colspan="5">
				A CONTINUACION ENCONTRARA COMO FUE EL COMPORTAMIENTO EN DISTINTOS ESCENARIOS DEL CONSUMO DE ENERGIA DE SU FRONTERA, EN CASO DE DUDAS CON RESPECTO AL REPORTE, POR FAVOR COMUNICARSE CON LA ING. LUZ DARY GUEVARA - LUZGUEVARA@ITALCOL.COM    
		</td>
    </tr>
		<tr>
			<td colspan="5" align="center" bgcolor="#bcc1d1"><strong>COMPARACION DE CONSUMOS</strong></td>							
		</tr>
	<tr>
		<td colspan="5">
			 La siguiente grafica nos muestra el consumo hasta el dia de ayer, comparado con el consumo hasta el mismo dia del mes anterior.
		</td>
    </tr>
    <tr>
      <td colspan="5">
		  <img class="u-image u-image-default u-image-1" src="https://fronteras.energiaitalener.com/controladores/template/images/Frt00771_consumo.png"  >
	  </td>
    </tr>
    <tr>
		<td colspan="5" align="center" bgcolor="#bcc1d1"><strong>DESVIACION SIGNIFICATIVA</strong></td>							
    </tr>
    <tr>
      <td colspan="5">El consumo promedio del dia anterior con respecto al mes pasado fue de <?=$data["consumoPromedio"] ?>, el consumo del día anterior fue de <?=$data["consumoAnterior"] ?>. Ud <strong><?=$data["desviado"] ?></strong>presenta desviación
	  </td>
    </tr>  
    <tr>		
	  <td colspan="5">
		  <img class="u-image u-image-default u-image-1" src="https://fronteras.energiaitalener.com/controladores/template/images/Frt00771_desviacion.png"  >
	  </td>
    </tr>
    <tr>
       <td colspan="5" align="center" bgcolor="#bcc1d1"><strong>FACTOR M</strong></td>							
    </tr>
	<tr>
      <td colspan="5">En la siguiente tabla podra ver el historial de los ultimos TRES meses del factor M de su frontera</td>
    </tr> 
	<tr>
	<tr>
	  <td align="center">ANO</td><td align="center">MES</td><td align="center">VALOR</td><td align="center">DIAS</td>
    </tr>	
	<tr>
		<td align="center">2022</td>
		<td align="center">JULIO</td>
		<td align="center">2</td>
		<td align="center">21</td>
	</tr>
	<tr>
		<td align="center">2022</td>
		<td align="center">JUNIO</td>
		<td align="center">1</td>
		<td align="center">21</td>
	</tr>
	<tr>
		<td align="center">2022</td>
		<td align="center">MAYO</td>
		<td align="center">1</td>
		<td align="center">21</td>
	</tr>
	 <tr>
       <td colspan="5" align="center" bgcolor="#bcc1d1"><strong>CONSUMO DE ENERGIAS HASTA EL DIA DE HOY</strong></td>							
    </tr>
	<tr>
		<td align="center"><img src="https://fronteras.energiaitalener.com/controladores/template/images/3103468.png"  alt=""></td>
		<td align="center"><img src="https://fronteras.energiaitalener.com/controladores/template/images/1015595.png"  alt=""></td>
		<td align="center"><img src="https://fronteras.energiaitalener.com/controladores/template/images/1835596.png"  alt=""></td>
		<td align="center"><img src="https://fronteras.energiaitalener.com/controladores/template/images/4343051.png"  alt=""></td>
	</tr>
	<tr>
		<td align="center"><h3 class="u-custom-font u-font-montserrat u-text u-text-palette-2-base u-text-1" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">2.105</h3></td>
		<td align="center"><h3 class="u-custom-font u-font-montserrat u-text u-text-palette-2-base u-text-3" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000"> 3.158</h3></td>
				<td align="center"><h3 class="u-custom-font u-font-montserrat u-text u-text-palette-2-base u-text-5" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">297</h3></td>
		<td align="center"><h3 class="u-custom-font u-font-montserrat u-text u-text-palette-2-base u-text-7" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000"> 5.282</h3></td>
	</tr>	
	<tr>
		<td align="center"><h4 class="u-custom-font u-font-montserrat u-text u-text-2">ACTIVA</h4></td>
		<td align="center"><h4 class="u-custom-font u-font-montserrat u-text u-text-4">Reactiva</h4></td>
        <td align="center"><h4 class="u-custom-font u-font-montserrat u-text u-text-6">capacitiva</h4></td>
        <td align="center"><h4 class="u-custom-font u-font-montserrat u-text u-text-8">penalizada</h4></td>
	</tr>
		
	    <tr>
       <td colspan="5" align="center" bgcolor="#bcc1d1"><strong>COMPORTAMIENTO DE ENERGIA CAPACITIVA Y PENALIZACIONES</strong></td>							
    </tr>
	<tr>
      <td colspan="5">En la siguientes imagenes se pueden contemplar los comportamientos de la energia capacitiva y las penalizaciones generadas</td>
    </tr> 
	<tr >
	  <td colspan="5" align="center">

		  <img class="u-image u-image-default u-image-1" src="https://fronteras.energiaitalener.com/controladores/template/images/Frt00771_capacitiva.png"  >
		</td>
	</tr>
	<tr>
		 <td colspan="5" align="center">
		  <img class="u-image u-image-default u-image-1" src="https://fronteras.energiaitalener.com/controladores/template/images/Frt00771_perdidas.png"  >
		
			</td>
    </tr>	
    </table>